<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="C:\WebAppFiles\Logs\Running\AngularAPI\Internal\Internal_Info.log"
      internalLogLevel="Info"
      >

  <variable name="webApplicationFolder" value="C:\WebAppFiles" />
  <variable name="appDataType" value="Logs" />
  <variable name="appName" value="AngularAPI" />

  <variable name="errorLogFileName" value="Error" />
  <variable name="errorLogFilePath" value="${webApplicationFolder}\${appDataType}\Running\${appName}\Error\${shortdate}_${errorLogFileName}.log" />
  <variable name="errorLogArchive" value="${webApplicationFolder}\${appDataType}\Archive\${appName}\Error\${shortdate}_${errorLogFileName}_Archive.{##}.log" />

  <variable name="processLogFileName" value="Process" />
  <variable name="processLogFilePath" value="${webApplicationFolder}\${appDataType}\Running\${appName}\Process\${shortdate}_${processLogFileName}.log" />
  <variable name="processLogArchive" value="${webApplicationFolder}\${appDataType}\Archive\${appName}\Process\${shortdate}_${processLogFileName}_Archive.{##}.log" />

  <targets async="true">
    
    <target xsi:type="File"
            name="processtarget"
            layout="${longdate}|${level:uppercase=true}|${message} ${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${processLogFilePath}"
            keepFileOpen="false"
            archiveFileName="${processLogArchive}"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
    
    <target xsi:type="File"
            name="errortarget"
            layout="${longdate}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}"
            fileName="${errorLogFilePath}"
            keepFileOpen="false"
            archiveFileName="${errorLogArchive}"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
    
    <target xsi:type="NLogViewer"
            name="sentineltarget"
            address="udp://127.0.0.1:9999"
            />
    
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="processtarget" />
    <logger name="*" minlevel="Trace" writeTo="errortarget" />
    <logger name="*" minlevel="Trace" writeTo="sentineltarget" />
  </rules>
</nlog>